In [240]:
import pandas as pd
import matplotlib.pyplot as plt

In [148]:
%matplotlib inline

In [149]:
df=pd.read_csv("IRIS.csv")
df.sample(10)

     sepal_length  sepal_width  petal_length  petal_width          species
33            5.5          4.2           1.4          0.2      Iris-setosa
15            5.7          4.4           1.5          0.4      Iris-setosa
42            4.4          3.2           1.3          0.2      Iris-setosa
6             4.6          3.4           1.4          0.3      Iris-setosa
3             4.6          3.1           1.5          0.2      Iris-setosa
106           4.9          2.5           4.5          1.7   Iris-virginica
36            5.5          3.5           1.3          0.2      Iris-setosa
62            6.0          2.2           4.0          1.0  Iris-versicolor
78            6.0          2.9           4.5          1.5  Iris-versicolor
59            5.2          2.7           3.9          1.4  Iris-versicolor

In [150]:
type_flower=df['species'].unique()
type_flower

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [151]:
df.shape

(150, 5)

In [152]:
df.iloc[16]

sepal_length            5.4
sepal_width             3.9
petal_length            1.3
petal_width             0.4
species         Iris-setosa
Name: 16, dtype: object

In [154]:
sp_col=df['species']

In [155]:
target=[]
rows=df.shape[0]
for i in range(rows):
    index=np.where(type_flower==df.iloc[i][4])[0][0]
    target.append(index)

C:\Users\User\AppData\Local\Temp\ipykernel_9076\358869224.py:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  index=np.where(type_flower==df.iloc[i][4])[0][0]

In [156]:
target_new=pd.Series(target)
target_new

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Length: 150, dtype: int64

In [157]:
df2=df.drop(['species'],axis=1)

In [158]:

new_df=pd.concat([df2,target_new],axis=1)

In [159]:
new_df.head()

   sepal_length  sepal_width  petal_length  petal_width  0
0           5.1          3.5           1.4          0.2  0
1           4.9          3.0           1.4          0.2  0
2           4.7          3.2           1.3          0.2  0
3           4.6          3.1           1.5          0.2  0
4           5.0          3.6           1.4          0.2  0

In [169]:
rename_list={0:'species'}
new_df.rename(columns=rename_list,inplace=True)
new_df.head()

   sepal_length  sepal_width  petal_length  petal_width  species
0           5.1          3.5           1.4          0.2        0
1           4.9          3.0           1.4          0.2        0
2           4.7          3.2           1.3          0.2        0
3           4.6          3.1           1.5          0.2        0
4           5.0          3.6           1.4          0.2        0

# train test split

In [220]:
x=new_df.drop(['species'],axis=1)
y=new_df['species']
new_df.shape

(150, 5)

In [218]:
from sklearn.model_selection import train_test_split

^C
Note: you may need to restart the kernel to use updated packages.

In [195]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=1)

In [203]:
from sklearn.neighbors import KNeighborsClassifier
knn=KNeighborsClassifier(n_neighbors=3)
knn.fit(x_train,y_train)

In [198]:
knn.score(x_test,y_test)